body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.cta {
    color: Aquamarine;
    font-size: 16px;
}about:blank#blocked

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    color: Gray;
    font-size: 21px;
}

.footer {
    text-align: right;
} 