<!---Log-in-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    
    <body>
        <script src="{{ url_for('static', filename='js/header.js') }}"></script>


    <section>
        <div class="main">
            <div class="detail"><!---Name and short phase -->
                <h1><span>Find the tale you are looking for.</span> <h4><br><span style="color:#d5d7d5;"> Gain the knowledge you have been seeking. </span><br> <span style="color:#08ceffed;">Tales and tomes galore.<br> A better you is a page away.</span></h1>
                </h4>

            </div>
            
            <div class="image">
                <img src="bookpic.png" alt="" width="100%">
            </div>
        </div>
    </section>
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
</style>


</html>